<!-- The navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#" [routerLink]="['']" class="navbar-brand" style="color:white;">Annonces</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="#" [routerLink]="['/add']" class="nav-link">Add Annonce <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input type="search" id="searchAnnonce" class="form-control mr-sm-2" placeholder="Search annonce..."
                required>
        </form>
    </div>
</nav>
<br>
<!-- liest des annonces -->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" id="main-container">
    <section class="bg-light pt-5 pb-5 shadow-sm">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-uppercase border-bottom mb-4">Détails Annonce</h3>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col">
                    <figure class="figure">
                        <img src="{{this.annonceService.apiServerUrl+'/annonces/ImageAnnonce/'+annonce.id}}"
                            class="figure-img img-fluid rounded shadow-3 mb-3" style="width: 500px; height: 300px;" alt="No picture Found" />
                    </figure>
                </div>
                <div class="col">
                    <div class="table-responsive">
                        <div class="form-group row">
                            <label for="Title" class="col-sm-4 col-form-label font-weight-bold"
                                style="font-size: 25px;">{{annonce?.titre}}</label>
                        </div>

                        <table class="table table-bordered p-0 m-0">
                            <tbody>
                                <tr scope="row">
                                    <th>Description</th>
                                    <td>{{ annonce?.description }}</td>
                                </tr>
                                <tr scope="row">
                                    <th>Date Publication</th>
                                    <td>{{ annonce?.datePublication | date:'HH:mm:ss dd-MM-yyyy'}}</td>
                                </tr>
                                <tr scope="row">
                                    <th>Prix</th>
                                    <td>{{ annonce?.prix | currency:'EUR':true }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex">
                        <a href="#" routerLink="/" class="btn btn-primary mt-2 w-100">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>